*{
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'Edu-Gothic';
    src: url("../fonts/EDUCATIONALGOTHIC-REGULAR.OTF");
}

p,a,h1,h2,h3,li,ul{
    color: #5DD62C;
    text-decoration: none;
    font-family: 'Edu-Gothic';
    transition: 0.5s ease-in-out;
}

p{
    font-size: 18px;
}

.header_selection{
    display: flex;
    flex-direction: row;
    background-color: #0f0f0f;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header_selection h1{
    font-size: 64px;
}

main{
    min-height: 100vh;
}

.header_logo{
    filter: hue-rotate(-105deg);
}

.nav_menu{
    display: flex;
    flex-direction: column-reverse;
    background-color: #202020;
    padding: 20px;
    border-radius: 10px;
    border: 2px #5DD62C solid;
    gap: 10px;
    margin-right: 100px;
}

.nav_menu a{
    color: white;
}

.nav_menu a:hover{
    transition: 0.5s ease-in-out;
    color: #5DD62C;
}

.nav_menu nav{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header_nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header_nav li{
    list-style-type: none;
}

body{
    background-color:  #202020;
}

.footer_section{
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
    background-color: #0f0f0f;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    min-height: 50px;
}

.footer_section li{
    font-size: 26px;
}

.footer_section a{
    font-size: 26px;
}

.footer_section nav{
    display: flex;
    flex-direction: row;
    gap:20px;
}

.footer_section nav ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.footer_section nav li{
    list-style-type: none;
}

.footer_copyright{
    font-size: 12px;
    margin-top: 20px;
}

.content{
    padding-left: 100px;
}

.content_item{
    padding: 10px;
    border: 2px  solid #5DD62C;
    background-color: #202020;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-image: url(../image/disc.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-blend-mode: overlay;
}

.content_item p{
    color: white;
    font-size: 24px;
}

.content_item h2{
    font-size: 36px;
}

.content_item a{
    color: #5DD62C;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    gap:20px;
}

.categories{
    position: sticky;
    top:50px;   
    background-color:#202020;
    border: 2px #5DD62C solid;
    padding: 20px;
    border-radius: 15px;
    width: 25%;
    margin-right: 100px;
    height: fit-content;
}

.categories h2{
    color: white;
    font-size: 36px;
}

.categories a{
    font-size: 24px;
}

#s{
    background: #202020;
    border: 2px solid #5DD62C;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 7px;
    position: relative;
    color: white;
    transition: 0.5s ease-in-out;
}

#searchsubmit{
    background-color: #5DD62C;
    color: #0f0f0f;
    font-family: 'Edu-Gothic';
    border: 2px solid #5DD62C;
    padding: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    transition: 0.5s ease-in-out;
}

a:hover{
    transition: 0.5s ease-in-out;
    color: white;
}

.searchform:hover #s {
    border-color: white;
    transition: 0.5s ease-in-out;
}

.searchform:hover #searchsubmit{
    transition: 0.5s ease-in-out;
    border-color: white;
    background-color: white;
    color: #202020;
}

.page_item_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 25%;
    margin-right: 25%;
}

.page_item_content p{
    font-size: 24px;
}

.page_item_content p span{
    color: white;
    text-decoration: underline;
    font-style: italic;
}

.page_item_title{
    font-size: 48px;
    color: white;
}

.doing-class{
    border:#5DD62C 2px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 40px;
}

.doing-class li{
    color: #5DD62C;
    font-size: 24px;
}

.doing-class li strong{
    color:white;
    font-style: italic;
}

.doing-class p{
    color: white;
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

.page_item_content p strong{
    color: white;
    font-style: italic;
    text-decoration: underline;
}

.main_post{
    margin-left: 100px;
    margin-right: 100px;
}

hr{
    color: #5DD62C;
}

.post_item_content{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.post_item_content h1{
    font-size: 48px;
    color: white;
    text-align: center;
}

.post_item_content h3{
    text-align: center;
    color: white;
    font-size: 36px;
}

.post_item_content p{
    font-size: 24px;
}

.post_item_content p strong{
    color: white;
}

.post_item_content p strong span{
    font-size: 36px;
}

.sound-class .wp-block-group__inner-container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sound-class{
    background-color: #0f0f0f;
    padding: 20px;
    border: 2px #5DD62C solid;
    border-radius: 15px;
}

.info-sound .wp-block-group__inner-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wp-block-image{
    height: fit-content;
    width: fit-content;
    flex-shrink: 0;
    text-align: center;
    border: 2px #5DD62C solid;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

.to-right{
    text-align: right;
    font-size: 20px;
    color: white;
}